<nav class="navbar">
  <div class="navbar-brand">
    <a href="/" class="navbar-logo">Logo</a>
  </div>

  <div class="navbar-menu">
    <a href="/about" class="btn-outline">About</a>
    <a href="/contact" class="btn-outline">Contact</a>
  </div>
</nav>
