<nav class="navbar">
  <div class="navbar-brand">
    <a href="/" class="navbar-logo">RetroProductDesign</a>
  </div>

  <div class="navbar-menu">
    <a href="/about" class="navbar-item">About</a>
    <a href="/contact" class="navbar-item">Contact</a>
  </div>
</nav>
