<div class="page-container">
<h1>About this project</h1>
<p>I'm a tech news junkie with an insatiable appetite for staying current in the world of Human-Centered Experience. To satisfy this need, I coded my own news aggregator that web scrapes from prominent sources like Department of Product, Figma Blog, NN/g UX Research, Prototypr, Smashing Magazine, TLDR Newsletter, UX Collective, UX Matters and UX Planet, just to name a few.</p>
<p>To enhance efficiency, I connected my aggregator to the OpenAI API, which accelerates the scanning and categorization of relevant articles.</p>
<p>Then it struck me: why not share the benefits of my passion with others? I decided to transform my learnings into a quarterly magazine. To optimize the process, I leverage Gemini Advanced Research to assist with content writing and Google NotebookLM to create the conversational AI audio.</p>
<p>Thus, Retro - Users' Digest magazine was born.</p>
<p>In our fast-paced industry, I wanted to create a moment for gathering thoughts and reflecting on these learnings together—similar to how we conduct Retro sessions in Agile methodology. What worked well, what needs improvement, and what's next?</p>
<p>This introspective approach naturally suited two formats: ebook and audiobook. While I have a particular fondness for the conversational audio format—which is dynamic, fun, and excellent at popularizing complex topics—both formats offer unique ways to engage with the content.</p>
<p>I hope you enjoy Retro, and please don't hesitate to <a href="/contact">get in touch with me</a> for any questions, comments, or feedback.</p>

</div>
