
<div class="main-container">

<div class="rounded-container">
  <%= image_tag "book-cover-01.png", alt: "", class: "fit-image" %>
</div>

<div class="text-container">
<h1>Retro: User's digest</h1>
<h2>Q1 2025 Key Insights</h2>
<p>
As I reflect on the key developments of this past quarter, several interconnected trends have surfaced, offering crucial insights into the evolving landscape of Human-Centered Experience. These trends, which will shape our focus moving forward, encompass a wide spectrum of emerging ideas: <strong>Echoes of a Fading Internet</strong>, <strong>AI Crits Session</strong>, <strong>The Cognitive Impact of AI in UX</strong>, <strong>Post-Humanism</strong>, <strong>Reshaping Design Practices</strong>, <strong>Agentification</strong>, <strong>Vibe Coding</strong>, <strong>A Generalist's Future</strong>, and the dawning possibilities of <strong>Public Intelligence & Quantum Computing.</p>
</strong>
<ul>
<li>65 pages</li>
<li>1 hour 41 minutes* <br>
*Mobile users: For the best audiobook experience with chapter navigation, use the Google browser player that opens rather than downloading the file.</li>
</ul>
<div class="button-container">
  <%= link_to "ebook", asset_path("retro-usersdigest-q125.epub"), class: "btn-outline-coral", download: "retro-usersdigest-q125.epub" %>
 <%= link_to "Audiobook", "https://storage.googleapis.com/retro-product-design/Retro%20-%20User's%20Digest%20-%20Q125.m4b", class: "btn-outline-coral", target: "_blank", rel: "noopener", download: "Retro - User's Digest - Q125.m4b" %>
</div>
</div>

</div>
