
<div class="main-container">

<div class="rounded-container">
  <%= image_tag "book-cover-01.jpg", alt: "", class: "fit-image" %>
</div>

<div class="text-container">
<h1>Retro: User's digest</h1>
<h2>Q1 2025 Key Insights</h2>
  <ul>
    <li>Agentification</li>
    <li>Vibe Coding</li>
    <li>The Future is AI</li>
  </ul>
<p>bla bla bla</p>
<div class="button-container">
  <%= link_to "ebook", asset_path("epub-test-01.epub"), class: "btn-outline-coral", download: "epub-test-01.epub" %>
<%= link_to "Download Audiobook",
            "https://www.dropbox.com/scl/fi/tq4tl5a9odb1w0ewlgx1d/Conversational-AI-9.18.32-AM.mp3?rlkey=l0g4p835tbq3po1tunfp6t1xd&st=zm1o97yv&dl=1",
            class: "btn-outline-coral",
            download: "Conversational-AI-9.18.32-AM.mp3" %>




</div>
</div>

</div>
