
<div class="main-container">

<div class="rounded-container">
  <%= image_tag "book-cover-01.jpg", alt: "", class: "fit-image" %>
</div>

<div class="text-container">
<h1>Retro: User's digest</h1>
<h2>Q1 2025 Key Insights</h2>
  <ul>
    <li>Agentification</li>
    <li>Vibe Coding</li>
    <li>The Future is AI</li>
  </ul>
<p>bla bla bla</p>
<div class="button-container">
  <%= link_to "ebook", asset_path("epub-test-01.epub"), class: "btn-outline-coral", download: "epub-test-01.epub" %>
  <%= link_to "audiobook", asset_path("epub-test-01.epub"), class: "btn-outline-coral", download: "test-01.m4b.zip" %>
</div>
</div>

</div>
